.uxi-ripple {
  position: relative;
  overflow: hidden;

  &__container {
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
  }

  &__circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: scale(3);
  }

  &__circles-spreading {
    opacity: 0.35;
    animation: rippleActivation 0.4s ease;
  }

  &__circles-dissapearing {
    animation: rippleDeactivation 0.4s ease;
  }
}

@keyframes rippleDeactivation {
  0% {
    opacity: 0.35;
    transform: scale(3)
  }
  100% {
    opacity: 0;
    transform: scale(3)
  }
}

@keyframes rippleActivation {
  0% {
    transform: scale(0.25);
    opacity: 0.35
  }
  100% {
    transform: scale(3);
    opacity: 0.35
  }
}
